<footer>
  <script>
    let dotSpans = document.getElementsByClassName("dots");
    let dotsCount = 0;

    function sleep(time) {
      return new Promise((resolve) => setTimeout(resolve, time));
    }

    function updateDots() {
      if (dotSpans != null) {
        Array.from(dotSpans).forEach((element) => {
          element.innerText = ".".repeat(dotsCount);
        });
        dotsCount = dotsCount == 2 ? 0 : dotsCount + 1;
      }
      sleep(500).then(() => updateDots());
    }

    updateDots();
  </script>
</footer>
