<footer>
  <hr class="post-separator" />
  <div class="footer-content">
    <ul>
      <li>
        <a href="/about"><span class="green">$</span> cd /about</a>
      </li>
      <li>
        <a href="/contact"><span class="green">$</span> cd /contact</a>
      </li>
      <li>
        <a href="/index.xml" target="_blank"
          ><span class="green">$</span> curl /feed.xml</a
        >
      </li>
    </ul>
  </div>

  <script>
    let cursorSpan = document.getElementById("cursor");
    let cursorVisible = false;

    function sleep(time) {
      return new Promise((resolve) => setTimeout(resolve, time));
    }

    function updateCursor() {
      if (cursorSpan != null) {
        cursorSpan.innerText = cursorVisible ? "_" : "";
        cursorVisible = !cursorVisible;
        sleep(500).then(() => updateCursor());
      }
    }

    updateCursor();
  </script>
</footer>
