{{- $attrs := .Attributes -}}
{{- if .IsBlock -}}
<figure {{ if $attrs.class }} class="{{ $attrs.class }}"{{ end }}>
    <img src="{{ .Destination | safeURL }}" 
         alt="{{ .PlainText }}" 
         {{ with .Title }}title="{{ . }}"{{ end }}
         {{- range $k, $v := $attrs }}{{ if ne $k "class" }} {{ $k }}="{{ $v }}"{{ end }}{{ end -}}>
    
    {{- if .Title }}
    <figcaption>{{ .Title }}</figcaption>
    {{ else }}
    <figcaption>{{ .PlainText }}</figcaption>
    {{ end -}}
</figure>
{{- else -}}
<img src="{{ .Destination | safeURL }}" 
     alt="{{ .PlainText }}" 
     {{ with .Title }}title="{{ . }}"{{ end }}
     {{- range $k, $v := $attrs }} {{ $k }}="{{ $v }}"{{ end -}}>
{{- end -}}