body {
  background-color: var(--dark-grey);
  color: var(--white);
  font-size: 125%;
  line-height: 1.5;
  margin: 0 auto;
  margin: 0 auto 0 auto;
  padding: 0.75em;
  max-width: 777px;
  font-family: "Open Sans";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--red);
  font-family: "Tektur";
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

p img {
  max-width: 100%;
  margin: 0 auto 0 auto;
  display: block;
}

blockquote {
  border-left: solid var(--green) 0.2em;
  position: relative;
  padding: 0.1em 1.5em 0.1em 1.5em;
  color: var(--grey);
  margin: 0;
  border-radius: 0.2rem;
  font-style: italic;
}

nav a {
  text-decoration: none;
}

.nav-left {
  display: inline;
}

.nav-right {
  float: right;
}

.post-link-wrapper {
  text-decoration: none;
}

.post-meta {
  color: var(--turquoise);
  font-size: 0.8em;
}

.highlight {
  border: solid var(--grey) 0.01em;
}

.highlight pre {
  background-color: inherit !important;
  margin: 0;
  padding: 1em;
}

.post-separator {
  margin-top: 1.5em;
}

footer {
  margin-top: 2em;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer a {
  text-decoration: none;
}

footer .footer-content {
  margin-top: 2em;
}

.green {
  color: var(--green);
}

.turquoise {
  color: var(--turquoise);
}

.grey {
  color: var(--grey);
}

.not-found-ascii > a {
  text-decoration: none;
}

:root {
  --dark-grey: #1a1a1d;
  --green: #1afe49;
  --grey: #98979b;
  --red: #ff2a6d;
  --turquoise: #05d9e8;
  --white: #d1f7ff;
}

@font-face {
  font-family: "Tektur";
  src: local("Tektur"), url("/fonts/Tektur-Regular.woff2") format("woff2"),
    url("/fonts/Tektur-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url("/fonts/OpenSans-Regular.woff2") format("woff2"),
    url("/fonts/OpenSans-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
