{{ define "main" }} {{ range $index, $page := where .Site.RegularPages "Type"
"posts" }}
<a href="{{ $page.Permalink }}" class="post-link">
  <article class="post-link-wrapper" >
    <h2>{{ $page.Title }}</h2>
    {{- partial "post-meta.html" $page -}}
    <p>{{ $page.Summary }}</p>
    <div class="green read-more">[...]</div>
  </article>
  {{ if not (eq (add $index 1) (len (where .Site.RegularPages "Type" "posts")))
  }}
  <div class="post-separator"></div>
  {{ end }}
</a>
{{ end }} {{ end }}
